<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MASTERdnDKY.master.cs" Inherits="DoAn.MASTERdnDKY" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <link href="styles/site2.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="container">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>

        <!-- FOOTER -->
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-col">
                    <p>(Hoạt động từ 8h - 17h)</p>
                    <p>Gọi đặt hàng: 123xxxxxxx</p>
                    <p>Email: hotro@gmail.com</p>
                </div>
                <div class="footer-col">
                    <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                    <a href="#">Hướng dẫn đặt hàng</a>
                    <a href="#">Phương thức thanh toán</a>
                    <a href="#">Phương thức vận chuyển</a>
                    <a href="#">Chính sách đổi trả</a>
                    <a href="#">Chính sách bảo mật</a>
                    <a href="#">Điều khoản sử dụng</a>
                    <a href="#">Dịch vụ giao sách đi nước ngoài</a>
                </div>
                <div class="footer-col">
                    <h4>Theo dõi chúng tôi trên</h4>
                    <a href="#">Blog</a>
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">LinkedIn</a>
                </div>
            </div>
        </footer>
    </form>
</body>
</html>
